[submodule "submodules/empirical_data_analysis"]
	path = submodules/empirical_data_analysis
	url = https://github.com/ikicab/Trading-in-a-Black-Box
[submodule "submodules/project_1"]
	path = submodules/project_1
	url = https://github.com/Alehud/RL_for_markets
[submodule "submodules/rlenv_original"]
	path = submodules/rlenv_original
	url = https://github.com/asikist-ethz/market_rl
[submodule "submodules/project_2"]
	path = submodules/project_2
	url = https://github.com/ekarais/RLFM
[submodule "rlenv_project_2"]
	path = rlenv_project_2
	url = https://github.com/zhy0/dmarket_rl
